.contact-section {
    display: flex;
    flex: 1;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container-email {
    display: flex;
}

.email-text {
    color: black;
}

.contact-container-github {
    display: flex;
}

.github-text {
    color: black;
}